.footer {
  height: 9rem;
  margin-top: auto;
  background-color: rgba(93, 103, 112, 0.8);
  color: whitesmoke;
  font-size: 14px;
  font-weight: 600;
}

.footer-line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 1rem;
}

.social-img {
  width: 30px;
  height: 30px;
  margin-top: 0.1rem;
  margin-right: 10px;
  cursor: pointer;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.3rem;
}

.socialmedia {
  margin-top: 0.2rem;
}

.about-items li {
  margin-top: 0.1rem;
}

.footer-privacy {
  margin-left: 150px;
  font-size: 14px;
  font-weight: 500;
}
