.item {
  margin: 0;
}

.item-box {
  text-align: center;
  margin: 0;
}

.item-box img {
  margin: 0;
  width: 8rem;
  height: 11.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.item-box img:hover {
  transform: scale(1.05);
}

.item-box p {
  max-width: 116px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgb(63, 63, 63);
}

/*
transform: scale(1.05);
 transition: transform 0.3s ease;
*/
