.productListContainer {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.productList-span {
  text-align: center;
  margin: 0;
}

.productList-span span {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 16px;
}

.productList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 колонок */
  gap: 1rem;
}

.category-page {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  justify-content: center;
}

.category-main {
  width: auto;
  height: auto;
  background-color: #eca16e;
  border-radius: 20px;
  align-content: center;
  text-align: center;
  margin-left: 30px;
  justify-content: center;
  padding: 10px 20px;
}

.header-category {
  justify-items: center;
  margin-top: 3rem;
}

.category-main span {
  color: rgb(240, 240, 240);
  font-weight: bold;
}

.productListPages {
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 100px;
}

.productListPagesButtons {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 20px;
  background-color: whitesmoke;
  margin-right: 5px;
  cursor: pointer;
  color: #222;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.productListPagesButtons.active {
  background-color: hsl(90, 30%, 50%);
  color: white;
  border: 2px solid hsl(90, 60%, 40%);
}

@media (max-width: 1200px) {
  .productList {
    grid-template-columns: repeat(
      8,
      1fr
    ); /* зменшуємо до 8 колонок на менших екранах */
  }
}

@media (max-width: 900px) {
  .productList {
    grid-template-columns: repeat(
      6,
      1fr
    ); /* зменшуємо до 6 колонок на ще менших екранах */
  }
}

@media (max-width: 600px) {
  .productList {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* зменшуємо до 4 колонок на мобільних екранах */
  }
}
