.main-page {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: center;
}

.preview-section {
  display: flex;
  position: relative;
  max-width: 100%;
  height: auto;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.banner {
  max-width: 100%;
  min-height: 20rem;
  max-height: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.banner img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 10px;
}

.banner-text {
  min-width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #ffe59c;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.banner-text h1,
h3 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.search-pannel {
  width: 25rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 0px 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #454545;
  box-sizing: border-box;
  margin-top: 0.5rem;
}

/*----special-offers------*/
.special-offers {
  min-width: 28rem;
  margin-left: 1rem;
}

.special-offers span {
  font-size: 16px;
  font-weight: 700;
  padding-left: 1rem;
}

.offer {
  width: 100%;
  height: 9rem;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fdf6e3;
  display: flex;
  justify-content: space-around;
}

.offer-book-img {
  width: 5rem;
  height: 7rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.offer p {
  width: 200px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding-top: 0.2rem;
}

.offer-title-price {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.offer-price {
  text-align: center;
  width: 5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: #ffe59c;
}

.custom-icon {
  font-size: 24px;
  color: #be941f;
  transition: transform 0.3s ease;
}

.custom-icon:hover {
  transform: translateX(5px); /* Ефект при наведенні */
}

/*--------------------------*/

.bookcategory {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookcategorytext {
  font-weight: bold;
}

.bookcategorylink {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #454545;
  opacity: 90%;
}

.category-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-inspiration-emailnotification {
  width: 80%;
  margin-top: 2rem;
}

.inspiration h1 {
  padding-left: 30px;
}

.inspiration p {
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
  text-indent: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.emailnotification {
  margin-top: 50px;
}

.emailnotification h2 {
  width: 100%;
  text-align: center;
}

.emailnotification p {
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  text-indent: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.email-input {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.email-input input {
  width: 350px;
  height: 35px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #454545;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.email-input button {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: hsl(0, 30%, 50%);
  color: whitesmoke;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.email-input button:active {
  background-color: hsl(0, 30%, 31%);
}

@media (max-width: 1720px) {
  .banner-text h1 {
    font-size: 1.5rem;
  }
  .search-pannel {
    width: 20rem;
  }
}

@media (max-width: 1500px) {
  .banner-text h1 {
    font-size: 1.5rem;
  }
  .search-pannel {
    width: 20rem;
  }

  .preview-section {
    flex-direction: column;
    margin-bottom: 0;
  }

  .banner {
    width: 70%;
    max-width: 70%;
  }

  .special-offers {
    width: 70%;
    max-width: 70%;
    margin: 2rem 0;
  }

  .offer {
    height: auto;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 1rem;
    box-sizing: border-box;
  }

  .offer-book-img {
    width: 5rem;
    height: 7rem;
    border-radius: 0.3rem;
    margin-top: 0;
  }
}

@media (max-width: 1280px) {
  .banner-text h1 {
    font-size: 1.2rem;
  }
  .banner-text h3 {
    font-size: 1rem;
  }
  .search-pannel {
    width: 15rem;
    height: 1.5rem;
    font-size: 10px;
  }

  .special-offers {
    margin: 1rem 0;
  }
}

@media (max-width: 1024px) {
  .banner-text h1 {
    font-size: 1.5rem;
  }
  .banner-text h3 {
    font-size: 1rem;
  }
  .search-pannel {
    width: 15rem;
    height: 1.5rem;
    font-size: 10px;
  }

  .preview-section {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .banner {
    width: 100%;
    min-width: 483px;
  }

  .special-offers {
    width: 100%;
    min-width: 483px;
    margin: 1rem 0;
  }
}

@media (max-width: 576px) {
  .banner {
    min-width: 448px;
  }

  .special-offers {
    min-width: 448px;
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .banner {
    width: 337px;
  }

  .banner img {
    width: 337px;
  }

  .banner-text {
    width: 337px;
  }

  .special-offers {
    width: 337px;
    margin: 0.5rem 0rem;
  }

  .banner-text h1 {
    font-size: 0.5rem;
  }
  .banner-text h3 {
    font-size: 0.4rem;
  }
  .search-pannel {
    width: 13rem;
    height: 1rem;
    font-size: 0.5rem;
  }
}
