.search-results-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.search-results {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  justify-content: flex-start;
}
